<section class="spacer">
  <div class="container faq-container">
    <div class="faq-title-wrapper">
      <h2 class="faq-title">
        frequently asked <span class="faq-title-color">question</span>
      </h2>
    </div>
    <div class="faq-wrapper-list">
      <ul class="faq-list">
        <li class="faq-list-item ac">
          <h3 class="faq-list-item-title ac-header">
            <button type="button" id="iconButtonFaq" class="ac-trigger">
              What programming languages ​​are most often used in your
              project?<svg class="icon icon-drop-down" width="24" height="24">
                <use href="./img/sprite.svg#icon-drop-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="faq-list-item-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>

        <li class="faq-list-item ac">
          <h3 class="faq-list-item-title ac-header">
            <button type="button" class="ac-trigger">
              What are the deadlines for the project?
              <svg class="icon icon-drop-down" width="24" height="24">
                <use href="./img/sprite.svg#icon-drop-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="faq-list-item-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>

        <li class="faq-list-item ac">
          <h3 class="faq-list-item-title ac-header">
            <button type="button" class="ac-trigger">
              What payment methods do you accept?
              <svg class="icon icon-drop-down" width="24" height="24">
                <use href="./img/sprite.svg#icon-drop-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="faq-list-item-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>

        <li class="faq-list-item ac">
          <h3 class="faq-list-item-title ac-header">
            <button type="button" class="ac-trigger">
              How can I contact you?
              <svg class="icon icon-drop-down" width="24" height="24">
                <use href="./img/sprite.svg#icon-drop-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="faq-list-item-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>

        <li class="faq-list-item ac">
          <h3 class="faq-list-item-title ac-header">
            <button type="button" class="ac-trigger">
              Do you provide advice or support?
              <svg class="icon icon-drop-down" width="24" height="24">
                <use href="./img/sprite.svg#icon-drop-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="faq-list-item-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>

        <li class="faq-list-item ac">
          <h3 class="faq-list-item-title ac-header">
            <button type="button" class="ac-trigger">
              What does the process of developing a software product look like
              from idea to implementation?
              <svg class="icon icon-drop-down" width="24" height="24">
                <use href="./img/sprite.svg#icon-drop-down"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <p class="faq-list-item-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="faq-background-decore"></div>
  </div>
</section>
