<footer class="footer spacer">
  <div class="container">
    <div class="footer-container">
      <a
        class="logo-footer"
        href="https://sanetchek.github.io/portfolio/"
        aria-label="Home"
        data-aos="fade-up"
        >LLOYD<span class="green-text">JEFFERSON</span></a
      >
      <div class="footer-soc-link">
        <ul>
          <li class="footer-link" data-aos="fade-right" data-aos-delay="100">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              aria-label="Instagram"
              >Instagram
            </a>
          </li>
          <li class="footer-link" data-aos="fade-right" data-aos-delay="150">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              aria-label="Facebook"
              >Facebook
            </a>
          </li>
          <li class="footer-link" data-aos="fade-right" data-aos-delay="250">
            <a
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              target="_blank"
              aria-label="Linkedin"
              >Linkedin
            </a>
          </li>
          <li class="footer-link" data-aos="fade-right" data-aos-delay="350">
            <a
              href="https://github.com/Sanetchek/portfolio"
              target="_blank"
              aria-label="GitHub"
              >GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-text" data-aos="fade-left">
      © Copyright 2024. Made by LloydJefferson
    </p>
  </div>
</footer>
