<header id="header">
  <div class="header">
    <div class="header-wrap">
      <div class="header-container">
        <a class="logo-header" href="https://sanetchek.github.io/portfolio/"
          >LLOYD<span>JEFFERSON</span></a
        >
        <nav class="menu-nav-tabl">
          <label class="switcher">
            <input type="checkbox" id="mode-switcher" />
            <span class="slider"></span>
          </label>
          <ul class="menu-list">
            <li id="menu_about" class="menu-list-item">
              <a href="#about" id="about-link" class="menu-list-link">About me</a>
            </li>
            <li id="menu_yachts" class="menu-list-item">
              <a href="#my-projects" id="project-link" class="menu-list-link">Projects</a>
            </li>
            <li id="menu_review" class="menu-list-item">
              <a href="#contacts" id="contacts-link" class="menu-list-link">Contacts</a>
            </li>
          </ul>
        </nav>

        <button type="button" class="open-menu-but" id="show-menu">
          <svg class="burger-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="header-menu">
    <div class="menu-wrap">
      <div class="menu-nav-wrap">
        <div class="menu">
          <a class="header-menu-logo" href="/portfolio/" aria-label="Home"
            >LLOYD<span>JEFFERSON</span></a
          >
          <button type="button" class="close-menu-but" id="close-menu">
            <svg class="close-icon" width="32" height="32">
              <use href="./img/sprite.svg#icon-x"></use>
            </svg>
          </button>
        </div>
        <nav class="menu-nav">
          <ul class="menu-list">
            <li class="menu-list-item">
              <a href="#about" class="menu-list-link menu-link-js">About me</a>
            </li>
            <li class="menu-list-item">
              <a href="#my-projects" class="menu-list-link menu-link-js"
                >Projects</a
              >
            </li>
            <li class="menu-list-item">
              <a href="#contacts" class="menu-list-link menu-link-js"
                >Contacts</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
