<header id="header">
  <div class="header">
    <div class="container header-wrap">
      <div class="header-container">
        <a
          class="logo-header"
          href="https://sanetchek.github.io/portfolio/"
          aria-label="Home"
          >LLOYD<span>JEFFERSON</span></a
        >
        <nav class="menu-nav-tabl">
          <ul class="menu-list">
            <li id="menu_about" class="menu-list-item">
              <a href="#about" aria-label="About section" class="menu-list-link"
                >About me</a
              >
            </li>
            <li id="menu_yachts" class="menu-list-item">
              <a
                href="#projects"
                aria-label="Projects section"
                class="menu-list-link"
                >Projects</a
              >
            </li>
            <li id="menu_review" class="menu-list-item">
              <a
                href="#contacts"
                aria-label="Contacts section"
                class="menu-list-link"
                >Contacts</a
              >
            </li>
          </ul>
        </nav>
        <button type="button" class="open-menu-but">
          <svg class="burger-icon" width="32" height="32">
            <use href="../img/sprite.svg"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
