<section class="hero">
    <h1>Hello, I am <span class="green-text"> Fullstack developer </span></h1>
    <p>I work with people all over the world to create <span class="green-text">impressive</span> and <span
            class="green-text">functional
            websites</span> that reflect each client’s unique personality.</p>
    <a href="#contacts" aria-label="Hero section" class="hero-button">
        Order the project
    </a>
    <img>
    <div class="hero-soc-link">
        <ul>
            <li class="hero-link">
                <a href="https://www.instagram.com/goitclub/" target="_blank" aria-label="Instagram">Instagram
                </a>
            </li>
            <li class="hero-link">
                <a href="https://www.facebook.com/goITclub/" target="_blank" aria-label="Facebook">Facebook
                </a>
            </li>
            <li class="hero-link">
                <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
                    aria-label="Linkedin">Linkedin
                </a>
            </li>
            <li class="hero-link">
                <a href="https://github.com/Sanetchek/portfolio" target="_blank" aria-label="GitHub">GitHub
                </a>
            </li>
        </ul>
    </div>

</section>