<section class="my-projects spacer" id="my-projects">
  <div class="container">
    <h2 class="my-projects-title">
      My <span class="my-projects-text-accent">projects</span>
    </h2>
    <ul class="my-projects-list js-my-projects-list">
      <li class="my-projects-list-item js-my-projects-list-item">
        <img
          class="my-projects-img"
          srcset="
            ./img/my-projects/my-projects-img--mobile--1.jpg      320w,
            ./img/my-projects/my-projects-img--mobile--1@2x.jpg   640w,
            ./img/my-projects/my-projects-img--tablet--1.jpg      704w,
            ./img/my-projects/my-projects-img--tablet--1@2x.jpg  1408w,
            ./img/my-projects/my-projects-img--desktop--1.jpg    1008w,
            ./img/my-projects/my-projects-img--desktop--1@2x.jpg 2016w
          "
          sizes="(min-width: 1280px) 1008px, (min-width: 768px) 704px, (min-width: 360px) 320px, (max-width: 359px) calc(100vw - 40px)"
          src="./img/my-projects/my-projects-img--mobile--1.jpg"
          alt="Wallet webservice"
          width="320"
        />
        <div class="my-projects-stack">React, JavaScript, Node JS, Git</div>
        <div class="my-projects-name-link">
          <h3 class="my-projects-name">Wallet webservice</h3>
          <a
            class="my-projects-link"
            href="https://sanetchek.github.io/portfolio/"
            target="_blank"
          >
            Visit
            <svg
              class="my-projects-link-icon icon-arrow-up-right"
              width="24"
              height="24"
            >
              <use href="./img/sprite.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects-list-item js-my-projects-list-item">
        <img
          class="my-projects-img"
          srcset="
            ./img/my-projects/my-projects-img--mobile--2.jpg      320w,
            ./img/my-projects/my-projects-img--mobile--2@2x.jpg   640w,
            ./img/my-projects/my-projects-img--tablet--2.jpg      704w,
            ./img/my-projects/my-projects-img--tablet--2@2x.jpg  1408w,
            ./img/my-projects/my-projects-img--desktop--2.jpg    1008w,
            ./img/my-projects/my-projects-img--desktop--2@2x.jpg 2016w
          "
          sizes="(min-width: 1280px) 1008px, (min-width: 768px) 704px, (min-width: 360px) 320px, (max-width: 359px) calc(100vw - 40px)"
          src="./img/my-projects/my-projects-img--mobile--2.jpg"
          alt="Green harvest webservice"
          width="320"
        />
        <div class="my-projects-stack">React, JavaScript, Node JS, Git</div>
        <div class="my-projects-name-link">
          <h3 class="my-projects-name">Green harvest webservice</h3>
          <a
            class="my-projects-link"
            href="https://sanetchek.github.io/portfolio/"
            target="_blank"
          >
            Visit
            <svg
              class="my-projects-link-icon icon-arrow-up-right"
              width="24"
              height="24"
            >
              <use href="./img/sprite.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="my-projects-list-item js-my-projects-list-item">
        <img
          class="my-projects-img"
          srcset="
            ./img/my-projects/my-projects-img--mobile--3.jpg      320w,
            ./img/my-projects/my-projects-img--mobile--3@2x.jpg   640w,
            ./img/my-projects/my-projects-img--tablet--3.jpg      704w,
            ./img/my-projects/my-projects-img--tablet--3@2x.jpg  1408w,
            ./img/my-projects/my-projects-img--desktop--3.jpg    1008w,
            ./img/my-projects/my-projects-img--desktop--3@2x.jpg 2016w
          "
          sizes="(min-width: 1280px) 1008px, (min-width: 768px) 704px, (min-width: 360px) 320px, (max-width: 359px) calc(100vw - 40px)"
          src="./img/my-projects/my-projects-img--mobile--3.jpg"
          alt="English Exellence webservice"
          width="320"
        />
        <div class="my-projects-stack">React, JavaScript, Node JS, Git</div>
        <div class="my-projects-name-link">
          <h3 class="my-projects-name">English Exellence webservice</h3>
          <a
            class="my-projects-link"
            href="https://sanetchek.github.io/portfolio/"
            target="_blank"
          >
            Visit
            <svg
              class="my-projects-link-icon icon-arrow-up-right"
              width="24"
              height="24"
            >
              <use href="./img/sprite.svg#icon-arrow-up-right"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <div class="my-projects-load-more js-my-projects-load-more">
      <button
        class="my-projects-load-more-btn js-my-projects-load-more-btn"
        type="button"
      >
        <span class="my-projects-load-more-btn-text">Load more</span>
      </button>
    </div>
  </div>
</section>
