<section class="reviews-section container spacer" id="reviews">
  <h2 class="reviews-title" data-aos="fade-up">REVIEWS</h2>
  <div class="swiper">
    <ul class="swiper-wrapper" data-aos="fade-up"></ul>
    <div class="swiper-button-wrapper" data-aos="fade-up">
      <button
        class="swiper-button-prev"
        aria-label="Previous Slide"
        tabindex="0"
      >
        <svg class="swiper-icon-prev" width="24px" height="24px">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button class="swiper-button-next" aria-label="Next Slide" tabindex="0">
        <svg class="swiper-icon-next" width="24px" height="24px">
          <use href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
