<section class="tech-skill spacer">
  <h2 class="visually-hidden">Tech Skills</h2>
  <div class="skill-item geen-dot">
    <div class="marquee marquee-fast">
      <p class="tech-skill-line">
        HTML/CSS
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        JavaScript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        React
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Node.js
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Native
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Typescript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        &nbsp;
      </p>
      <p class="tech-skill-line">
        HTML/CSS
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        JavaScript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        React
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Node.js
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Native
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Typescript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        &nbsp;
      </p>
      <p class="tech-skill-line">
        HTML/CSS
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        JavaScript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        React
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Node.js
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Native
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Typescript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        &nbsp;
      </p>
    </div>
  </div>
  <div class="skill-item-other">
    <div class="marquee marquee-slow">
      <p class="tech-skill-line">
        Typescript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        HTML/CSS
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        JavaScript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        React
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Node.js
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Native
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        &nbsp;
      </p>
      <p class="tech-skill-line">
        Typescript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        HTML/CSS
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        JavaScript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        React
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Node.js
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Native
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        &nbsp;
      </p>
      <p class="tech-skill-line">
        Typescript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        HTML/CSS
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        JavaScript
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        React
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Node.js
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        Native
        <svg class="icon-dot" width="24" height="24">
          <use href="./img/sprite.svg#icon-dot"></use>
        </svg>
        &nbsp;
      </p>
    </div>
  </div>
</section>
