<div class="tech-skill">
  <h3 class="visually-hidden">Tech Skills</h3>
  <div class="skill-item">
    <p class="tech-skill-line">
      HTML/CSS JavaScript React Node. js Native Typescript
    </p>
    <p class="tech-skill-line">
      HTML/CSS JavaScript React Node. js Native Typescript
    </p>
  </div>
  <div class="skill-item-other">
    <p class="tech-skill-line">
      Typescript HTML/CSS JavaScript React Node. js Native
    </p>
    <p class="tech-skill-line">
      Typescript HTML/CSS JavaScript React Node. js Native
    </p>
  </div>
</div>
