<div class="tech-skill">
  <h3 class="visually-hidden">Tech Skills</h3>
  <div class="skill-item geen-dot">
    <p class="tech-skill-line">
      HTML/CSS
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      JavaScript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      React
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Node. js
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Native
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Typescript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      &nbsp;
    </p>
    <p class="tech-skill-line">
      HTML/CSS
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      JavaScript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      React
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Node. js
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Native
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Typescript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      &nbsp;
    </p>
    <p class="tech-skill-line">
      HTML/CSS
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      JavaScript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      React
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Node. js
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Native
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Typescript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      &nbsp;
    </p>
  </div>
  <div class="skill-item-other">
    <p class="tech-skill-line">
      Typescript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      HTML/CSS
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      JavaScript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      React
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Node. js
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Native
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      &nbsp;
    </p>
    <p class="tech-skill-line">
      Typescript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      HTML/CSS
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      JavaScript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      React
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Node. js
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Native
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      &nbsp;
    </p>
    <p class="tech-skill-line">
      Typescript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      HTML/CSS
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      JavaScript
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      React
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Node. js
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      Native
      <svg class="icon-dot" width="24" height="24">
        <use href="./img/sprite.svg#icon-dot"></use>
      </svg>
      &nbsp;
    </p>
  </div>
</div>
