@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --popins: 'Poppins', sans-serif;
  --impact: 'Impact', sans-serif;
  --light-text: #f0f0f0;
  --dark-text: #292929;
  --green-text: #00b068;
  --light-grey: #e4e5e6;
  --light-green: #bcdfd1;
  --light-bg: #f0f0f0;
  --dark-bg: #1e2023;
  --transition-duration: 0.3s;
  --transition-function: ease;
}

:focus-visible {
  outline: 2px solid -webkit-focus-ring-color !important;
  outline-offset: 2px;
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--popins);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--dark-text);
  background-color: var(--light-bg);
  transition: background-color 0.4s, color 0.4s;
}

body.dark {
  color: var(--light-text);
  background-color: var(--dark-bg);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-family: var(--impact);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h2 {
  font-family: var(--impact);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

h3 {
  font-family: var(--popins);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: color 0.3s ease;
}

a.link:hover {
  color: var(--green-text);
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.spacer {
  margin-top: 80px;
}

/* #region Preloader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: var(--light-bg) url('../img/preloader/decor-bg-mobile.png') no-repeat right 20px top 20px / contain;
}

.loader-overlay.is-hidden {
  display: none;
}

body.dark .loader-overlay {
  background: var(--dark-bg) url('../img/preloader/decor-bg-mobile.png') no-repeat right 20px top 20px / contain;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
  .loader-overlay {
    background: var(--light-bg) url('../img/preloader/decor-bg-mobile-x2.png') no-repeat right 32px top 32px / contain;
  }

  body.dark .loader-overlay {
    background: var(--dark-bg) url('../img/preloader/decor-bg-mobile-x2.png') no-repeat right 32px top 32px / contain;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--dark-bg);
  animation: prixClipFix 2s linear infinite;
}

body.dark .loader::before,
body.dark .loader::after {
  border: 5px solid var(--light-bg);
}

.loader::after {
  border-color: var(--green-text);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

body.dark .loader::after {
  border-color: var(--green-text);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* #endregion Preloader */

/* #region Switcher */
.switcher {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4e5e6;
  transition: 0.4s;
  border-radius: 24px;
}

.switcher .slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #14c57c;
  transition: 0.4s;
  border-radius: 50%;
}

.switcher input:checked+.slider {
  background-color: #2a2d32;
}

.switcher input:checked+.slider:before {
  transform: translateX(24px);
  background: url('data:image/svg+xml;utf8,<svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.06964e-06 19.1679C3.53181 17.6248 6 14.1006 6 10C6 5.89936 3.53181 2.3752 0 0.832087C1.22492 0.296895 2.57779 0 4 0C9.52285 0 14 4.47715 14 10C14 15.5228 9.52285 20 4 20C2.57779 20 1.22493 19.7031 3.06964e-06 19.1679Z" fill="%2314C57C" /></svg>') no-repeat center;
}

/* #endregion Switcher */

/* #region Scroll Bar Style */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.9);
}

/* #endregion Scroll Bar Style */

@media screen and (min-width: 768px) {
  .spacer {
    margin-top: 124px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .loader-overlay {
    background: var(--light-bg) url('../img/preloader/decor-bg-tablet.png') no-repeat right 32px top 32px / contain;
  }

  body.dark .loader-overlay {
    background: var(--dark-bg) url('../img/preloader/decor-bg-tablet.png') no-repeat right 32px top 32px / contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .loader-overlay {
      background: var(--light-bg) url('../img/preloader/decor-bg-tablet-x2.png') no-repeat right 32px top 32px / contain;
    }

    body.dark .loader-overlay {
      background: var(--dark-bg) url('../img/preloader/decor-bg-tablet-x2.png') no-repeat right 32px top 32px / contain;
    }
  }

  h1 {
    font-size: 136px;
    line-height: 1.14706;
    letter-spacing: 0.01em;
  }

  h2 {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
  }

  h3 {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }
}

@media screen and (min-width: 1280px) {
  .spacer {
    margin-top: 164px;
  }

  .container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .loader-overlay {
    background: var(--light-bg) url('../img/preloader/decor-bg-desktop.png') no-repeat right 32px top 32px / contain;
  }

  body.dark .loader-overlay {
    background: var(--dark-bg) url('../img/preloader/decor-bg-desktop.png') no-repeat right 32px top 32px / contain;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .loader-overlay {
      background: var(--light-bg) url('../img/preloader/decor-bg-desktop-x2.png') no-repeat right 32px top 32px / contain;
    }

    body.dark .loader-overlay {
      background: var(--dark-bg) url('../img/preloader/decor-bg-desktop-x2.png') no-repeat right 32px top 32px / contain;
    }
  }
}