@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --popins: "Poppins", sans-serif;
  --color: #242424;
  --background-color: rgba(255, 255, 255, 0.87);
}

body {
  font-family: var(--popins);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  overflow-x: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.spacer {
  margin-top: 80px;
}

/* #region Scroll Bar Style */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.9);
}
/* #endregion Scroll Bar Style */

@media screen and (min-width: 768px) {
  .spacer {
    margin-top: 124px;
  }

  .container {
    max-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .spacer {
    margin-top: 164px;
  }

  .container {
    max-width: 1216px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
