/*.my-projects {}*/

.my-projects-title {
  text-align: center;
}

.my-projects-text-accent {
  color: var(--green-text);
}

.my-projects-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: 40px;
}

.my-projects-list-item {
}

.my-projects-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;

  margin-bottom: 12px;
}

.my-projects-stack {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--dark-text);
}

body.dark .my-projects-stack {
  color: #f0f0f0;
}

.my-projects-name-link {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.my-projects-name {
  font-family: var(--popins), sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--dark-text);
}

body.dark .my-projects-name {
  color: #f0f0f0;
}

.my-projects-link {
  display: flex;
  align-items: center;
  gap: 12px;

  font-family: var(--popins), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: var(--light-grey);
  border-radius: 8px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  transition: background-color var(--transition-duration)
    var(--transition-function);

  align-self: flex-end;
  margin-top: 16px;
}

.my-projects-link:hover {
  background-color: #bbbbbb;
}

body.dark .my-projects-link {
  background-color: #2a2d32;
}

body.dark .my-projects-link:hover {
  background-color: #3b3f45;
}

.my-projects-link-icon {
  stroke: var(--green-text);
  fill: transparent;
}

.my-projects-load-more {
  display: flex;
  justify-content: center;

  margin-top: 40px;
}

.my-projects-load-more.is-hidden {
  display: none;
}

.my-projects-load-more-btn {
  -webkit-appearance: none;
  border: 0 none;
  background-color: rgba(0, 0, 0, 0);
  display: block;

  font-family: var(--popins), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--dark-text);

  text-transform: uppercase;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  transition: color var(--transition-duration) var(--transition-function);
}

body.dark .my-projects-load-more-btn {
  color: #f0f0f0;
}

.my-projects-load-more-btn-text {
  display: inline;
  border-bottom: 1px solid var(--green-text);
}

.my-projects-load-more-btn:hover,
body.dark .my-projects-load-more-btn:hover {
  color: var(--green-text);
}

@media screen and (max-width: 359px) {
  .my-projects-title,
  .my-projects-name {
    word-wrap: break-word;
    overflow-wrap: anywhere;
  }
}

@media screen and (min-width: 768px) {
  .my-projects-list {
    gap: 60px;
    margin-top: 60px;
  }

  .my-projects-img {
    border-radius: 24px;
    margin-bottom: 16px;
  }

  .my-projects-name-link {
    flex-direction: row;
    align-items: center;
    column-gap: 32px;
    margin-top: 20px;
  }

  .my-projects-name {
    flex: auto;
  }

  .my-projects-link {
    align-self: unset;
    margin-top: 0;
  }

  .my-projects-load-more {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .my-projects-list {
    gap: 80px;
    margin-top: 80px;

    max-width: 1008px;

    margin-left: auto;
    margin-right: auto;
  }

  .my-projects-name-link {
    column-gap: 120px;
  }

  .my-projects-load-more {
    margin-top: 80px;
  }
}
