.green-text {
  color: var(--green-text);
}

.contacts-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts-decore {
  display: none;
}

.contact-info h2 {
  margin-bottom: 40px;
}

.contact-info .caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.contact-info .contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-info .contact-item a {
  display: inline-flex;
  gap: 16px;
  align-items: center;
}

.contact-info .contact-item a svg {
  fill: transparent;
  stroke: var(--green-text);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

label.email-label {
  width: 100%;
  position: relative;
}

label.email-label svg.icon-success {
  position: absolute;
  right: 16px;
  top: 16px;
  fill: var(--green-text);
  visibility: hidden;
  opacity: 0;
}

label.email-label svg.icon-success.active {
  visibility: visible;
  opacity: 1;
}

span#error_message {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #e74a3b;
  margin-top: 4px;
}

.input-error {
  border: 1px solid #e74a3b;
  color: #e74a3b;
}

input,
textarea {
  width: 100%;
  background: var(--light-grey);
  border-radius: 8px;
  padding: 16px;
  border: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.dark input,
.dark textarea {
  background: #2a2d32;
}

input {
  height: 48px;
}

textarea {
  min-height: 128px;
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(41, 41, 41, 0.4);
}

button.form-submit {
  background-color: var(--green-text);
  border: 0;
  border-radius: 8px;
  padding: 12px 24px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--light-text);
  transition: background-color var(--transition-duration) var(--transition-function);
}

button.form-submit:hover {
  background-color: #009156;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: all var(--transition-duration) var(--transition-function);
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-grey);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 16px;
  padding: 48px 32px;
  width: 320px;
  text-align: center;
}

.dark .modal-content {
  background-color: #2a2d32;
}

.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-close-btn svg.icon-x {
  fill: transparent;
  stroke: var(--dark-text);
}

.dark .modal-close-btn svg.icon-x {
  fill: transparent;
  stroke: var(--light-text);
}

.modal-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--green-text);
  margin-bottom: 16px;
}

.modal-message {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contacts-decore {
    display: block;
    width: 336px;
    height: 260px;
    position: absolute;
    right: 0;
    top: -104px;
    background: url('../img/contacts/decor-bg.png') no-repeat center / cover;
    z-index: -1;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .contacts-decore {
      background: url('../img/contacts/decor-bgx2.png') no-repeat center / cover;
    }
  }

  .contacts-wrap {
    gap: 60px;
  }

  .contact-info h2 {
    margin-bottom: 60px;
  }

  .contact-info .caption{
    font-size: 20px;
    line-height: 1.6;
  }

  .contact-info .contacts-list {
    flex-direction: row;
  }

  .contact-form {
    align-items: flex-start;
  }

  .modal-content {
    padding: 64px;
    width: 492px;
  }

  .modal-close-btn {
    top: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-decore {
    width: 526px;
    height: 408px;
    top: -144px;
    background: url('../img/contacts/decor-bg-4.png') no-repeat center / cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .contacts-decore {
      background: url('../img/contacts/decor-bg-4x2.png') no-repeat center / cover;
    }
  }

  .contacts-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .contact-info {
    width: 514px;
  }

  .contact-side {
    width: 592px;
  }

  .contact-info h2 {
    margin-bottom: 80px;
  }

  .contact-info .caption {
    margin-bottom: 120px;
  }

  .contact-info .contacts-list {
    flex-direction: column;
  }
}